.pd-20{
  padding: 20px;
}

.pd-t20{
  padding-top: 20px;
}

.pd-b20{
  padding-bottom: 20px;
}

.mg-b20{
  margin-bottom: 20px;
}

.gray-bg{
  background-color: $portfolio-gray;
}

.text-uppercase{
  text-transform: uppercase;
}

.text-notice{
  font-style: italic;
  color: $portfolio-red;
}