
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$portfolio-green: #69BD97;
$portfolio-red: #E83941;
$portfolio-black: #333333;
$portfolio-gray: #F2F2F2;
